@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
.container{
    max-width: 100%;
    min-height: 80px;
    left: 0px;
    top: 0px;
    background: #192831;
    }
    
    .nav-item a{
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    }
    
    .nav-link .home-hm{
        font-family: 'Roboto', sans-serif;
        font-size: 19px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
        color: #FFFFFF;
    }

    .navbar-brand{
        margin-left: 160px;
        top: 30px;
    }



    .button{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 92px;
    gap: 10px;
    max-width: 218px;
    height: 39px;
    background: #084AA7;
    border-radius: 6px;
    margin-left: 90px;
    font-weight: 600;
    color: #fff;
    border: 0;
    }
    
    .button1{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 92px;
    gap: 10px;
    max-width: 218px;
    height: 39px;
    left: 1350px;
    top: 20px;
    background: #084AA7;
    border-radius: 6px;
    margin-left: 20px;
    font-weight: 600;
    color: #fff;
    border: 0;
    }

     .section1{
       max-width: 100%;
       height: 712px;
       
    
     }
     
    .section1 img{
        width: 100%;
        height: 712px;
        object-fit: cover;
        background-repeat: no-repeat;
  
    }

    body{
        height: auto;
        background: rgb(2,0,36);
        background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 21%, rgba(0,198,255,1) 100%);
    }

    .img1{
        position: absolute;
width: 694px;
height: 343px;
left: 388px;
top: 133px;
margin-right: 100px;
    }



    .card1{
    position: absolute;
width: 456px;
height: 543px;
left: 20px;
top: 543px;
background: rgba(4, 22, 58, 0.8);
border-radius: 20px;

    }


.card2{
    position: absolute;
width: 456px;
height: 719px;
left: 510px;
top: 543px;
background: rgba(4, 22, 58, 0.8);
border-radius: 20px;
}


.card3{
    position: absolute;
width: 456px;
height: 895px;
left: 1000px;
top: 543px;
background: rgba(4, 22, 58, 0.8);
border-radius: 20px;
}

.imgimg1{
position: absolute;
width: 404px;
height: 256px;
left: 45px;
top: 568px;

}

.h12{
position: absolute;
width: 162px;
height: 33px;
left: 70px;
top: 832px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 33px;
color: #FFFFFF;
}

.yelstick{
position: absolute;
width: 344px;
height: 0px;
left: 66px;
top: 871px;
border: 2px solid rgba(255, 245, 0, 0.7);
}

.text12{
position: absolute;
width: 80px;
height: 23px;
left: 70px;
top: 884px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 23px;
color: #FFFFFF;

}

.vtm12{
position: absolute;
width: 288px;
height: 23px;
left: 63px;
top: 923px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 23px;
color: #FFFFFF;

}

.buytc{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 92px;
gap: 10px;
position: absolute;
width: 336px;
height: 39px;
left: 82px;
top: 978px;
background: #084AA7;
border-radius: 6px;
}


.campnou{
    position: absolute;
width: 404px;
height: 256px;
left: 540px;
top: 568px;

}


.h1h1{
position: absolute;
width: 351px;
height: 33px;
left: 540px;
top: 832px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 33px;
color: #FFFFFF;

}

.stick3{
    position: absolute;
width: 344px;
height: 0px;
left: 540px;
top: 871px;
border: 2px solid rgba(255, 245, 0, 0.7);
}

.galochka{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 25px;
position: absolute;
width: 348px;
height: 122px;
left: 540px;
top: 923px;

}

.buytc1{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 92px;
gap: 10px;
position: absolute;
width: 336px;
height: 39px;
left: 565px;
top: 1154px;
background: #084AA7;
border-radius: 6px;
}


.basebase{
    position: absolute;
width: 404px;
height: 256px;
left: 1025px;
top: 568px;
border-radius: 20px 20px 0px 0px;
}

.card3text{
    
position: absolute;
width: 351px;
height: 33px;
left: 1025px;
top: 832px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 33px;
color: #FFFFFF;
}


.card3svg{
    position: absolute;
width: 344px;
height: 0px;
left: 1025px;
top: 871px;
border: 2px solid rgba(255, 245, 0, 0.7);
}

.galochka23{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 25px;
position: absolute;
width: 354px;
height: 367px;
left: 1025px;
top: 923px;

}

.buytc2{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 92px;
gap: 10px;
position: absolute;
width: 336px;
height: 39px;
left: 1070px;
top: 1324px;
background: #084AA7;
border-radius: 6px;
}

/* 
.fotsvg1{
left: 49.05%;
right: 49.1%;
top: 81.99%;
bottom: 16.35%;
background: #FFFFFF;
height: 31.976322174072266px;
width: 31.99699592590332px;
left: 847.513671875px;
top: 1572.4921875px;
border-radius: 0px;

} */

.batmob{
    margin-left: auto;
    max-width: 80%;
}

.p202{
position: absolute;
width: 173px;
height: 24px;
left: 90px;
top: 1576px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 18px;
color: #FFFFFF;

}

.p203{
position: absolute;
width: 173px;
height: 24px;
left: 253px;
top: 1576px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 18px;
color: #FFFFFF;
}


.p204{
position: absolute;
width: 173px;
height: 24px;
left: 424px;
top: 1576px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 18px;
color: #FFFFFF;

}

.p402{
position: absolute;
width: 173px;
height: 24px;
left: 811px;
top: 1576px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 18px;
text-align: right;
color: #FFFFFF;

}

.p403{
position: absolute;
width: 173px;
height: 24px;
left: 984px;
top: 1576px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 18px;
text-align: right;
color: #FFFFFF;
}

.p404{
position: absolute;
width: 173px;
height: 24px;
left: 1195px;
top: 1576px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 18px;
text-align: right;
color: #FFFFFF;


}


.polisjoxi{
position: absolute;
width: 1408px;
height: 1px;
left: 30px;
top: 1648px;

}





.sscnap{
position: absolute;
width: 455px;
height: 35px;
left: 490px;
top: 1782px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;
text-align: center;
color: rgba(255, 255, 255, 0.8);

}


